
:root {
  --bgColor : snow;
  --bgColorSub : darkslateblue;
  --txtColor : slategray;

}

body {
    background-color: var(--bgColor);
    font-family: "Times New Roman", Times, serif;
  }

nav > ul > li {
    display: inline-block;
  }

h1 {
    color: var(--txtColor);
  }

iframe {
  top : 20px;
  height: 90%;
  width: 100%;
  /* border: none; */
}  




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  
  The following CSS applies to lesson html files.
  It can be used to style the actual contents of lessons, using <code>, <pre> tags
  
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

pre {
    font-size: large;
 }
  
/* Style program <code> with a background color and larger font size */
code {
  background-color: lightyellow;
  font-size: larger;
}
